//- 
  *******************
  StartView Template
  *******************
  This template renders on errors.
  
| <script id="errorView" type='text/template'>
#appError
  //- Message render area
  #appMessage.col-sm-12.text-center
    strong An error has ocurred! Please try again later.
  //- Control render area
  #appCommand.col-sm-12.text-center
    a#Return.btn.btn-default Return 
| </script>