//- 
  *******************
  StartView Template
  *******************
  This template renders at test's beginning page.
  
| <script id="startView" type='text/template'>
#appStart
  //- Message render area
  #appMessage.col-sm-12.text-center
    strong Press the button to begin the test!
  //- Control render area
  #appCommand.col-sm-12.text-center
    a#Start.btn.btn-default Inititate
| </script>