//- 
  *******************
  JS Plugins Template
  *******************
  This template renders js plugins files on document's head.

script(type='text/javascript', src='plugins/JQuery/jquery-1.11.3.js')
script(type='text/javascript', src='plugins/Underscore/underscore.js')
script(type='text/javascript', src='plugins/Bootstrap/bootstrap.js')